@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
}

.rm-a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    color: #161b3d;
}

.tags {
    display: inline-block;
    background-color: #f0f0f0;
    border-radius: 0.5rem;
    padding: 0.8rem 1.1rem;
    text-transform: uppercase;
}

p.tags {
    position: absolute;
    top: 1rem;
    left: 1rem;
    background-color: #161b3d;
    color: cornsilk;
    font-weight: bold;
    z-index: 1;
}

.red-tags {
    background-color: #db0014 !important;
}

.btn {
    margin: 0rem 0.3rem;
    border-radius: 1.8rem;
    text-transform: capitalize;
}

.img-post {
    width: 100%;
    height: 100%;
}

/* Start Header */
header {
    height: 11rem;
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-family: 'Reggae One', cursive;
    font-size: 4.5rem;
}

.nav-list {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.menu {
    width: 34rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    margin-right: 1.2rem;
}

.menu a {
    font-size: 1.6rem;
    letter-spacing: 0.8px;
}

.menu .fa-circle {
    opacity: 0;
    font-size: 0.7rem;
    color: #d3d5dc;
    position: absolute;
    top: -0.8rem;
}

.menu .active {
    opacity: 1;
    color: #db0014;
}

.menu a:hover .fa-circle{
    opacity: 1;
}

.fa-ellipsis-h, .fa-search {
    font-size: 1.7rem;
    color: #161b3d;
}

.fa-search {
    padding: 0.3rem 0.7rem;
}

.sign-in:hover {
    background-color: #e2e5ed;
}

.sign-up {
    color: white;
    background-color: #db0014;
}

.sign-up:hover {
    background-color: #ba0011;
}
/* End Header */

/* Start Slide1 */
.slide1 {
    width: 100%;
    height: 54rem;
    display: flex;
    flex-direction: row;
    background-color: brown;
}

.right-post {
    width: 70%;
    height: 100%;
    position: relative;  
}

.text {
    width: 100%;
    height: 100%;
    background-color: #2d2c2c7a;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.title a, .read-more, .info {
    color: cornsilk;
    font-size: 2.7rem;
    display: inline-block;
}

.more {
    margin: 4rem 0rem;
}

.right-post .title a {
    margin: 0 2rem;
}

.read-more, .info{
    font-size: 1.7rem;
    padding: 0 2rem;
}

.info {
    font-size: 1.5rem;
}

.author {
    border-left: 1px solid cornsilk;
    border-right: 1px solid cornsilk;
}

.mul-post {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item-type1 {
    position: relative;
    height: 33%;
    width: 100%;
    background-color: darkblue;
}

.item-type1 .title a {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 1.5rem;
    line-height: 2.2rem;
    padding: 0.6rem 2rem;
    background-color: #000000a6;
}

